@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: #ffffff;
  background-color: #000000;
  /* opacity: 1;
  background-image:  radial-gradient(#484848 1.1500000000000001px, transparent 1.1500000000000001px), radial-gradient(#484848 1.1500000000000001px, #000000 1.1500000000000001px);
  background-size: 46px 46px;
  background-position: 0 0,23px 23px; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
